@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --background: 282, 64%, 35%;
    --foreground: 45, 96%, 50%;
    --card: 0, 0%, 100%;
    --card-foreground: 0, 0%, 88%;
    --popover: 0, 0%, 100%;
    --popover-foreground: 0, 0%, 88%;
    --primary: 282, 64%, 35%;
    --primary-foreground: 0, 0%, 100%;
    --secondary: 45, 96%, 50%;
    --secondary-foreground: 0, 0%, 88%;
    --muted: 45, 96%, 50%;
    --muted-foreground: 0, 0%, 88%;
    --accent: 0, 0%, 100%;
    --accent-foreground: 0, 0%, 88%;
    --destructive: 282, 64%, 35%;
    --destructive-foreground: 0, 0%, 100%;
    --border: 0, 0%, 88%;
    --input: 0, 0%, 88%;
    --ring: 282, 64%, 35%;
    --radius: 0.75rem;
  }
}

.gradient-text {
  @apply bg-clip-text text-transparent bg-gradient-to-r from-violet-600 to-pink-500
}

@keyframes neonFlash {
  0% {
    border-bottom: 2px solid transparent;
  }
  50% {
    border-bottom: 2px solid #9413f0;
  }
  100% {
    border-bottom: 2px solid transparent;
  }
}

.neon-border {
  border: 2px solid transparent;
}

.neon-border:hover {
  animation: neonFlash 1s infinite;
}

.post-content {
  display: flex;
  flex-direction: column;
  gap: .5rem;

  h1, h2, h3, p, a, img {
    @apply py-2;
  }
  a {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-violet-600 to-pink-500 font-semibold;
    cursor: pointer;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  @apply bg-primary-foreground;
  transition: background 0.3s, color 0.3s;
}


@keyframes pulse-gradient {
  0% {
    border-image-source: linear-gradient(90deg, hsl(var(--primary)), hsl(var(--secondary)));
  }
  50% {
    border-image-source: linear-gradient(90deg, hsl(var(--secondary)), hsl(var(--primary)));
  }
  100% {
    border-image-source: linear-gradient(90deg, hsl(var(--primary)), hsl(var(--secondary)));
  }
}

.animate-pulse-gradient {
  animation: pulse-gradient 2s infinite;
  border-image-slice: 1;
}
